node_modules
.next
.git
.github
.env*
*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
test
uploads
docker-compose*.yml
nginx.conf
certs
tmp
.vscode
.idea
.DS_Store
Thumbs.db
